<!doctype html>
<svg viewBox="0 0 30.23 30.23" width="30.23" height="30.23">
  <defs>
    <style>.cls-1{fill:#7bcce0;}.cls-2{fill:#5b9cb8;}</style>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <circle class="cls-1" cx="15.12" cy="15.12" r="15.12" transform="translate(-3.05 26.38) rotate(-76.8)"></circle>
      <path class="cls-2" d="M21.8,4.4A12.63,12.63,0,0,1,11.6,24.48a12.5,12.5,0,0,1-6.68-1.92A12.63,12.63,0,1,0,21.8,4.4Z"></path>
    </g>
  </g>
</svg>