<!doctype html>
<svg viewBox="0 0 35.26 35.26" width="35.26" height="35.26">
  <defs>
    <style>.cls-1{fill:#e17e7a;}.cls-2{fill:#d15e5e;}</style>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <circle class="cls-1" cx="17.63" cy="17.63" r="17.63" transform="translate(-2.6 32.21) rotate(-80.78)"></circle>
      <path class="cls-2" d="M25.43,5.14a14.73,14.73,0,0,1-11.9,23.41,14.59,14.59,0,0,1-7.79-2.24A14.72,14.72,0,1,0,25.43,5.14Z"></path>
    </g>
  </g>
</svg>